h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.App {
  text-align: center;
}

.increase{
  width: 130px;
  height: 35px;
  margin-right: 5px;
  background-color: green;
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 15px;
  border-radius: 4px;
}

.decrease{
  width: 130px;
  height: 35px;
  background-color: rgb(231, 19, 19);
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 15px;
  border-radius: 4px;
}
.users{
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.user{
  padding: 20px;
  margin: 5px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(221, 221, 221);
  text-align: justify;
}
section{
  margin-top: 60px;
}